
[Unit]
Description=Elephant
After=graphical-session.target

[Service]
Type=simple
Environment=PATH=/home/rspurgeon/.local/share/mise/shims:/home/rspurgeon/.local/bin:/usr/local/bin:/usr/bin:/bin
ExecStart=/usr/bin/elephant
Restart=on-failure

[Install]
WantedBy=graphical-session.target
							
