@import "../omarchy/current/theme/waybar.css";

* {
  background-color: @background;
  color: @foreground;

  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: 'JetBrainsMono Nerd Font Mono';
  font-size: 18px;
  border-radius: 8px;
}

.modules-left {
  margin-left: 6px;
}

.modules-right {
  margin-right: 6px;
}

#workspaces button {
  all: initial;
  padding: 0 5px;
  margin: 0 1px;
  min-width: 8px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#cpu,
#battery,
#pulseaudio,
#custom-omarchy,
#custom-pitch-agents,
#custom-screenrecording-indicator,
#custom-update {
  min-width: 12px;
  margin: 0 6px;
}

#tray {
  margin-right: 12px;
}

#bluetooth {
  margin-right: 12px;
}

#network {
  margin-right: 10px;
}

#custom-expand-icon {
  margin-right: 14px;
}

tooltip {
  padding: 2px;
}

#custom-update {
  font-size: 12px;
}

#custom-pitch-agents {
  font-size: 15px;
}

#custom-pitch-agents.question,
#custom-pitch-agents.error {
  font-weight: bold;
}

#clock {
  margin-left: 10px;
  margin-right: 6px;
}

.hidden {
  opacity: 0;
}

#custom-screenrecording-indicator {
  min-width: 12px;
  margin-left: 6px;
  font-size: 12px;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
}
