format = """
[┌─](#ebbcba) $character $cmd_duration [─ ](#ebbcba)[](#6e6a86)[ $directory $git_branch$git_status$git_state](#7695a0)
[└─❯❯](#ebbcba) """

#format = """
#[┌─](#ebbcba) $character[─ ](#ebbcba)[](#6e6a86)[ $directory $git_branch$git_status$git_state](#7695a0)
#[│](#ebbcba) $cmd_duration
#[└─❯❯](#ebbcba) """

# format = """
# [┌─](#ebbcba) $character[─ ](#ebbcba)[](#6e6a86)[ $directory $git_branch$git_status$git_state](#7695a0)
# [│](#ebbcba) $cmd_duration${custom.kong-host}$kubernetes$aws
# [└─❯❯](#ebbcba) """

# 
# 
# 
# 
#[└─❯❯](#4695be) """
# 
# 雷
# 瘟
# 盛

[cmd_duration]
disabled = false
min_time = 0
format = "[$duration](#7695a0)"
style = "bold blue"

[character]
format='$symbol'
error_symbol='[✦ ](#eb6f92)'
success_symbol='[✦ ](#7695a0)'

[aws]
disabled=false
format=' [  $symbol](white)[($profile )(\($region\) )(\[$duration\] )](#eab676) '
#symbol = "  "
#symbol=" : "
symbol=''

[terraform]
disabled=true

[status]
disabled=true

[directory]
format=" $path"
truncation_length=2
truncate_to_repo=false
fish_style_pwd_dir_length=0

[git_branch]
format="[$symbol](#6e6a86)[$branch(:$remote_branch)](#7695a0) "

[git_status]
format='([\[$modified$ahead_behind\]](#7695a0) )'

[kubernetes]
disabled=false
format = '[$symbol](white)[$context](#e28743) '

[kubernetes.context_aliases]
"arn:aws:eks:(?P<var_region>[\\w-]+):(?P<var_acct>[\\d]+):cluster/(?P<var_cluster>[\\w-]+)" = "$var_cluster => $var_region"
"gke_.*_(?P<var_cluster>[\\w-]+)" = "gke-$var_cluster"
